body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.9375rem; /* 15px - 增大一个size */
}

/* 标题字体大小 */
.title.is-1 {
  font-size: 3rem !important;
}

.title.is-3 {
  font-size: 1.5rem !important; /* 从 1.25rem 增大到 1.5rem (24px) */
}

.title.is-4 {
  font-size: 1.25rem !important; /* 从 1.1rem 增大到 1.25rem */
}

/* 正文字体大小 */
.is-size-5 {
  font-size: 1rem !important; /* 从 0.875rem 增大到 1rem (16px) */
}

.is-size-6 {
  font-size: 0.875rem !important; /* 从 0.75rem 增大到 0.875rem (14px) */
}

/* 作者列表字体大小 */
.publication-authors {
  font-size: 1rem !important; /* 从 0.875rem 增大到 1rem (16px) */
}

/* 段落字体大小 */
p {
  font-size: 1rem; /* 从 0.875rem 增大到 1rem (16px) */
}

/* 列表字体大小 */
ul, ol {
  font-size: 1rem; /* 从 0.875rem 增大到 1rem (16px) */
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

.teaser-gif {
  height: 250px;
  width: auto;
  display: block;
  margin: 0 auto;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}



